.smallContainer {
    width: 25%;
    float: left;
    padding: 15px;
    border: 1px solid black;
}
.mainContainer {
    width: 75%;
    float: left;
    padding: 15px;
    border: 1px solid black;
}

input
            {
                padding: 5px;
                margin-top: 20px;
            }
        
        td
            {
                width: 200px;
                text-align: center;
                padding: 5px;
            }